.newuser{
    flex: 4;
}

.newuserform{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.newuseritem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newuseritem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newuseritem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.newusergender>input{
    margin-top: 5px;
}

.newusergender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newuserselect{
    height: 40px;
    border-radius: 5px;
    width: 100px;
}

.newuserbutton{
    width: 150px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}